[Desktop Entry]
Type=Application
Name=SportScore Kiosk
Exec=/home/USERNAME/.local/bin/start-kiosk.sh http://sportscore.local/#/bigscreen/qrscreen
X-GNOME-Autostart-enabled=true
Comment=Start SportScore in kiosk mode at session login
