[Desktop Entry]
Type=Application
Name=SportScore Kiosk
Exec=env KIOSK_URL=http://192.168.123.241 /home/USERNAME/.local/bin/start-kiosk.sh
X-GNOME-Autostart-enabled=true
Comment=Start SportScore in kiosk mode at session login
